*.opensdf,*.sdf,*.suo,*.exe,*.ilk,*.pdb,*.obj,*.pch,*.idb,*.filters
*.user
*.ilk
*.exe
*.pdb
/COM_WORKSHOP/LabInterfaceBasedProgramming/Debug/LabInter.BF5A9F23.tlog
*.obj
/COM_WORKSHOP/LabInterfaceBasedProgramming/Debug/cl.command.1.tlog
*.tlog
*.manifest
*.res
*.lastbuildstate
*.log
*.pch
*.cache
*.rc
*.idb
*.ipch
*.db
*.db-wal
*.db-shm
*.opendb
*.suo
